<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <title>Admin Login</title>
  
</head>

<body class="bg-black">
  <!-- * alert box -->
  <div class="d-flex  justify-content-center mt-2 w-100">
    <div class=" d-block col-lg-6 col-sm-8 col-10" id="alert-container"> </div>
  </div>
  <!-- * end *  -->

  <div class="container   d-flex  align-items-center  justify-content-center  " style="height: 100vh;">

    <section class="container col-lg-5 col-sm-8 col-12  rounded-2 py-3" id="login-form-container"  >
      <div class="w-100 d-flex  justify-content-center ">
        <h1 class="text-light ">Admin login</h1>
      </div>
      <form action="" class=" p-2 " id="login-form">
        <div class="my-1" >
          <label class="col-2 form-label text-light" for="email">email</label>
          <input class="col-9 form-control" id="email" type="email" placeholder="example@gmail.com">
          <small class="form-text text-danger opacity-0" >error message</small>
        </div>
        <div class="my-1">
          <label class="form-label text-light" for="password">password</label>
          <input class="form-control   " id="password" type="password">
          <small class="form-text text-danger opacity-0 " >error message</small>
        </div>


        <button class="btn btn-success w-100 mb-2" id="submit-btn" onsubmit="submit" disabled > submit</button>
        <a class="btn btn-primary   w-100" id="submit-btn" href="/auth/signup"  > sign up</a>
      </form>
    </section>
  </div>

  <script src="/js/alertsCreators.js"></script>
  <script src="/js/loginScript.js"></script>
</body>

</html>