:root{
  --CARD-COLOR: #353935;

}

#login-form-container {
  background-color: var(--CARD-COLOR)
}

#navbar {
  background-color: #16161d
}

#nav-small-screen ,
#nav-small-screen-form
{
  background-color: #16161d
}

#add-user-container{
  background-color: #40404F;
}

#edit-back-svg{
  fill:lightseagreen;
  width: 25px;
  height: 25px;
}